.container {
  max-width: 800px;
  margin: auto;
}

.post-details {
  text-align: center;
}

.post-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.post-author {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 1.5rem;
}

.post-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-content {
  font-size: 1.25rem;
  line-height: 1.6;
  text-align: left;
}
